{% load static %}
<html>
<head>
    <meta charset="utf-8">
    <title>Checkout</title>
    <base href="/">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <style>html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%}body{margin:0}@media print{*,:after,:before{color:#000!important;text-shadow:none!important;background:0 0!important;box-shadow:none!important}}*{box-sizing:border-box}:after,:before{box-sizing:border-box}html{font-size:10px;-webkit-tap-highlight-color:rgba(0,0,0,0)}body{font-family:Helvetica Neue,Helvetica,Arial,sans-serif;font-size:14px;line-height:1.42857143;color:#333;background-color:#fff}</style>
    <link rel="stylesheet" href="{% static '/angular-frontend/css/styles.9438cd1d1e1ce0a6.css' %}"></noscript>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body>
    <app-root></app-root>
    <script src="{% static '/AngularPaypalCheckout/assets/js/jquery.min.js' %}" type="text/javascript"></script>
    <script src="{% static '/AngularPaypalCheckout/assets/js/bootstrap.bundle.min.js' %}" type="text/javascript"></script>
    <script src="{% static '/angular-frontend/js/runtime.a06e0542bdcb99c1.js' %}" type="module"></script>
    <script src="{% static '/angular-frontend/js/polyfills.56544792de56a4f8.js' %}" type="module"></script>
    <script src="{% static '/angular-frontend/js/scripts.b7adecffa8a61be3.js' %}"></script>
    <script src="{% static '/angular-frontend/js/main.62f76c2cd34e9522.js' %}" type="module"></script>
</body>
</html>